* {
	-fx-background-color: #011826;
}

.key:disabled{
	-fx-background-color: #011826;
	-fx-opacity: 1.0;
}

.cross-hatch, .win-line {
	-fx-stroke: #024959;
}

.player-label, .score {
	-fx-text-fill: #025e73;
}

