* {
	-fx-background-color: white;
}

.key:disabled{
	-fx-background-color: white;
	-fx-opacity: 1.0;
}

.cross-hatch, .win-line {
	-fx-stroke: black;
}

.player-label, .score {
	-fx-text-fill: black;
}