/*** GENERAL ***/

@font-face{
	font-family: 'Bahnschrift';
    src: url('../font/BAHNSCHRIFT.TTF');
}

@font-face{
	font-family: 'Bahnschrift Static';
    src: url('../font/BS_Static_Bold.ttf');
}

* {
	bg-color: white;
	line-color: black;
	text-color: black;
	text-highlight: #808080;
}

* {
	-fx-background-color: bg-color;
}

.key:disabled{
	-fx-background-color: bg-color;
	-fx-opacity: 1.0;
}

.line, .line-win {
	-fx-stroke: line-color;
}

.text-regular, .text-bold {
	-fx-text-fill: text-color;
}

.text-regular {
	-fx-font-family: 'Bahnschrift';
}

.text-bold {
	-fx-font-family: 'Bahnschrift Static';
}

.text-size-18 {
	-fx-background-color: transparent;
	-fx-font-size: 18;
}

.label-player {
	-fx-font-size: 13;
}

.label-score {
	-fx-font-size: 40;
}

/*** MAIN WINDOW ***/

#label-click-to-start {
	-fx-background-color: bg-color;
	-fx-font-size: 60;
}

#icon-player-x {
	-fx-image: url('../img/def/Cross.png');
	-fx-scale-x: 0.7;
	-fx-scale-y: 0.7;
	-fx-translate-y: -1;
}

#icon-player-o {
	-fx-image: url('../img/def/Orb.png');
	-fx-scale-x: 0.8;
	-fx-scale-y: 0.8;
	-fx-translate-y: -1;
}

#key-replay {
	-fx-graphic: url('../img/def/Replay.png');
	-fx-scale-x: 0.17;
	-fx-scale-y: 0.17;
}


#key-settings {
	-fx-graphic: url('../img/def/Settings.png');
	-fx-scale-x: 0.18;
	-fx-scale-y: 0.18;
}

#key-replay:hover {
	-fx-opacity: 0.5;
}

#key-settings:hover {
	-fx-opacity: 0.5;
}

/*** SETTINGS WINDOW ***/

.textfield-player-name {
	-fx-font-size: 30;
}

.icon-player-random {
	-fx-font-size: 40;
}

#icon-player-x-options {
	-fx-image: url('../img/def/Cross.png');
	-fx-scale-x: 0.9;
	-fx-scale-y: 0.9;

}

#icon-player-o-options {
	-fx-image: url('../img/def/Orb.png');
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-translate-x: 3;
}

#text-game-modes {
	-fx-font-size: 14;
}

#label-player-vs {
	-fx-font-size: 30;
}

#icon-mode-pvp {
	-fx-image: url('../img/def/Orb.png');
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-translate-x:1;

}

#icon-mode-pvm-x {
	-fx-image: url('../img/def/Cross.png');
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

#icon-mode-pvm-o {
	-fx-image: url('../img/def/Orb.png');
	-fx-scale-x: 1;
	-fx-scale-y: 1;
}

#icon-mode-pvm-random {
	-fx-font-size: 150;
}

#key-mode-pvm-x {
	-fx-graphic: url('../img/def/Cross.png');
	-fx-scale-x: 0.05;
	-fx-scale-y: 0.05;
}

#key-mode-pvm-o {
	-fx-graphic: url('../img/def/Orb.png');
	-fx-scale-x: 0.05;
	-fx-scale-y: 0.05;
}

#key-mode-pvm-random {
	-fx-font-size: 31;
	-fx-translate-x: -15;
	-fx-translate-y: -20;
}

#icon-mode-mvm {
	-fx-image: url('../img/def/Cross.png');
	-fx-scale-x: 1;
	-fx-scale-y: 1;
	-fx-translate-x: -7;
}

#key-ok {
	-fx-graphic: url('../img/def/Ok.png');
	-fx-scale-x: 0.2;
	-fx-scale-y: 0.2;
}

.textfield-player-name:hover {
	-fx-text-fill: text-highlight;
}

.key-gamemode:hover {
	-fx-text-fill: text-highlight;
}

#key-mode-pvm-x:hover {
	-fx-opacity: 0.5;
}

#key-mode-pvm-o:hover {
	-fx-opacity: 0.5;
}

#key-mode-pvm-random:hover {
	-fx-text-fill:text-highlight;
}

#key-ok:hover {
	-fx-opacity: 0.5;
}